body{
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            position: relative;
            background-image: url(images/background.png);
            background-position: center center;
            background-size:390px,844px;
            background-repeat: no-repeat;
            background-attachment: fixed;
       }
       
        img {
            max-width: 100px;
            max-height: 100px;
            position: absolute;
        }
